.introButton {
    border: 1px solid white;
    background-color: #145DA0;
    display: block;
    margin-top: 10%;
    color: white;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 10%;
    width: 80%;
}

.introButton:focus {
    outline:none;
}

.introButton:hover {
    background-color: #2E8BC0;
}

.introHeader{
    font-size: 4em;
    font-style: bold;
}