.card {
    width: 18rem;
    color: #B1D4E0;
    background-color: #0C2D48;
}

.cardHeight {
    padding-top: 8%;
    padding-bottom: 8%;
}

.projectHeader {
    font-style: bold;
    padding-top: 5%;
}

.card {
    height: 100%
}